name: PatternMatcher4J Workflow

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-test-coverageReport:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Build and Test
        run: ./gradlew build test
      - name: Test Coverage Report
        run: ./gradlew test jacocoTestReport
      - name: Create the Badge
        uses: schneegans/dynamic-badges-action@v1.0.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 2f297a650e2c9fea0b3b817691fada74
          filename: patternmatcher4j__${{ env.BRANCH }}.json
          label: Test Coverage
          message: ${{ env.COVERAGE }}
          color: green
          namedLogo: scoverage
      - name: Create the Test Badge
        uses: schneegans/dynamic-badges-action@v1.0.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: d79f9f3049bf190b417943a2d3b21481
          filename: patternmatcher4j__${{ env.BRANCH }}.json
          label: Tests
          message: ${{ env.TEST_RESULT }}
          color: green
          namedLogo: gradle
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Build and Test
        run: ./gradlew build test
      - name: Publish to Sonatype
        run: ./gradlew publish -PossrhUser="${ossrhUser}" -PossrhPassword="${ossrhPassword}" -Psigning.keyId="${signing_keyId}" -Psigning.password="${signing_password}" -Psigning.secretKeyRingFile="${signing_secretKeyRingFile}" --stacktrace
